<!--Defino uma navbar, a cor das letras dessa navbar e, o terceiro valor é pra definir a cor do background da minha navbar-->
<nav class="navbar navbar-light bg-primary">
    <!--Essa classe define a imagem a esquerda do navbar-->
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="">
    </a>
</nav>
