<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/navbar.ejs') %>

    <header>
        <H1>Guia de Perguntas e Respostas</H1>
    </header>
    
    <section class="container" id="formulario-pergunta">
        

        <div class="card">
            
            <div class="card-header">
                <h4>Fazer pergunta:</h4>
            </div>

            <div class="card-body">
                <form method="POST" action="/saveask">
                    <label>Título:</label>
                    <input type="text" placeholder="Título " class="form-control" name="titulo" />
                    <br><label>Descrição da pergunta: </label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descriacao"></textarea>
                    <br><button class="btn btn-primary">Perguntar</button>
                </form>
            </div>

        </div>
    </section>
</body>

<%- include('./partials/footer.ejs') %>